@import "layout/fonts.scss";
@import "config/variables.scss";
@import "config/mixin.scss";
@import "layout/base.scss";

@import "blocks/navigation.scss";
@import "blocks/first.scss";
@import "blocks/second.scss";
@import "blocks/third.scss";
@import "blocks/fourth.scss";
@import "blocks/fifth.scss";
@import "blocks/sixth.scss";
@import "blocks/seventh.scss";
@import "blocks/eighth.scss";
@import "blocks/header.scss";
@import "blocks/form.scss";
@import "blocks/close-btn.scss";
@import "blocks/order-btn.scss";
@import "blocks/footer.scss";
@import "blocks/hamburger.scss";
@import "blocks/slider.scss";
@import "blocks/overlay.scss";
@import "blocks/dropdown.scss";
@import "blocks/order-modal.scss";