.eighth{
    position: relative;
}

.eighth__map{
    width: 100%;
    height: 100%;

    &--mobile{
        background-image: url("../img/bg/eighth-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}