.form{
    width: 100%;
    display: flex;
    margin-top: rem(40px);

        @include tablets{
            flex-direction: column;
            max-width: rem(480px);
            margin-right: auto;
            margin-left: auto;
        }

        @include phones-height{
            margin-top: 0;
        }

}

.form__column{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: rem(20px);

        &:last-child{
            margin-right: 0;
        }

        @include tablets{
            width: 100%;
            margin-top: rem(13px);

                &:first-child{
                    margin-top: 0;
                }
        }

}

.form__row{
    display: flex;
    margin-top: rem(17px);

        &:first-child{
            margin-top: 0;
        }

        @include phones{
            justify-content: center;
        }

        @include phones-height{
            margin-top: rem(3px);
        }

}

.form__label{
    width: 100%;
    text-align: left;
    margin-right: rem(20px);

        &:last-child{
            margin-right: 0;
        }
}

.form__input{
    border-radius: rem(5px);
    width: 100%;
    height: rem(36px);
    margin-top: rem(9px);
    padding: rem(10px) rem(20px);
    color: $black;
    border: 2px solid transparent;

        @include phones{
            padding: rem(10px) rem(5px);
        }

        @include phones-height{
            margin-top: rem(2px);
        }
}

.form__textarea{
    border-radius: rem(5px);
    outline: none;
    width: 100%;
    height: rem(110px);
    margin-top: rem(9px);
    padding: rem(12px) rem(20px);
    color: $black;
    resize: none;
    border: 2px solid transparent;
}

.form__input:focus,
.form__textarea:focus{
    border: 2px solid $yellow;
}

.form__radio,
.form__checkbox{
    display: flex;
    cursor: pointer;

        &:hover{
            color: $orange;
        }
}

.form__radio{
    margin-right: rem(25px);

        &:last-child{
            margin-right: 0;
        }
}

.form__radio-btn{
    display: none;

        &:checked{
            & + .form__radio-img{
                &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: rem(7px);
                    height: rem(7px);
                    border-radius: 50%;
                    background-color: $orange;
                }
            }
        }
}

.form__radio-img{
    position: relative;
    width: rem(15px);
    height: rem(15px);

        &:before{
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: rem(15px);
            height: rem(15px);
            border-radius: 50%;
            background-color: $white;
        }
}

.form__radio-title,
.form__checkbox-title{
    margin-left:rem(10px);
}

.form__checkbox-btn,
.form__reset-btn{
    display: none;
}

.form__checkbox-btn:checked{

    & + .form__checkbox-img{
        &:after{
            content: "";
            display: block;
            position: absolute;
            left: 15%;
            top: 15%;
            transform: rotate(-45deg);
            width: rem(8px);
            height: rem(5px);
            border-left: rem(3px) solid $orange;
            border-bottom: rem(3px) solid $orange;
        }
    }


}

.form__checkbox-img{
    position: relative;
    width: rem(15px);
    height: rem(15px);

        &:before{
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: rem(15px);
            height: rem(15px);
            background-color: $white;
        }
}

.form__btns-set{
    display: flex;
    margin-top: rem(20px);

        @include tablets{
            margin-top: rem(35px);
        }

        @include phones{
            justify-content: center;
            margin-top: rem(15px);
        }

        @include phones-height{
            margin-top: rem(5px);
        }

}

.form__reset{
    padding: rem(10px);
    margin-left: rem(10px);
    cursor: pointer;

        &:hover{
            color: $orange;
        }
}